$fa-font-path: "../icons/fonts";

/** Fonts **/
$body-font      : 'Roboto', helvetica, arial, sans-serif;
$display-font   : 'Roboto', helvetica, arial, sans-serif;

/** Colors **/
$white          : #fff;
$dark-gray      : #222;
$light-gray     : #ccc;
$blue           : #09f;
$brand-primary  : $dark-gray;
$brand-secondary: $dark-gray;
$brand-tertiary : $dark-gray;
$body-color     : $dark-gray;

/** Font Sizing **/
$body-font-size     : 15px;
$body-line-height   : 1.55em;
$body-font-weight   : normal;
$body-padding       : 2.25em;
$body-margin        : $body-padding;
$display-font-size  : 40px;
$display-font-weight: normal;
$display-line-height: 1.2em;
