/** Bootstrap **/
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/reboot";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/utilities/display";
@import "bootstrap/utilities/flex";
@import "bootstrap/utilities/embed";


/** Variables **/
@import 'variables';

/** Base Styles **/
@import 'base/resets';
@import 'base/base';
@import 'base/typography';

/** Layouts **/
@import 'layouts/header';

/** Components **/
@import 'components/buttons';
@import 'components/cms-header';
@import 'components/cms-text-area';
@import 'components/cms-single-image-block';
@import 'components/cms-dual-image-block';
@import 'components/cms-blockquote';
@import 'components/cms-video';
@import 'components/cms-call-to-action';
@import 'components/cms-big-image';

/** pages **/
@import 'pages/contact';
