.ad-slot {
    &.above-answers-ad {
        margin-bottom: 20px;
    }
    &.after-questions {
        margin-bottom: 20px; 
        margin-top: 20px;
    }
    &.after-next-button {
        margin-top: 20px;
    }
    &.after-first-related-quiz {
        margin-bottom: 30px;
    }
}
