.ad-slot {
    margin-top: 20px;
    margin-bottom: 20px;
    &.above-answers-ad {
        margin-top: 0px;
    }
    &.after-next-button {
        margin-bottom: 0px;
    }
    &.after-first-related-quiz {
        margin-bottom: 30px;
        margin-top: 0px;
    }
}
