a.button,
input.button {
    border-radius: $radius;
    padding: $space-2 $space-3;
    color: $white;
    background: $teal;
    font-family: $display-font;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background: $yellow;
        text-decoration: none;
        color: $white;
    }

    &.large {
        line-height: 35px;
        font-size: 36px;
        padding-top: $space-3;
        padding-bottom: $space-3;
    }
    &.ib {
        display: inline-block;
    }
    &.b {
        display: block;
    }
    &.purple {
        background: $purple;

        &:hover {
            background: $yellow;
        }
    }
    &.offwhite {
        background: $off-white;
        color: $black;

        &:hover,
        &.selected {
            background: $purple;
            color: $white;
        }
    }
}
.buttons {
    &.center {
        text-align: center;
        
        .button + .button {
            margin-left: $space-2;
        }
    }
}
