a.button,
input.button,
div.button {
    border-radius: $radius;
    padding: $space-2 $space-6;
    color: $white;
    background: $teal;
    font-family: $display-font;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in-out all;
    cursor: pointer;

    &:hover {
        background: $yellow;
        text-decoration: none;
        color: $white;
        transform: translateY(-$space-1);
    }

    &.large {
        line-height: 35px;
        font-size: 36px;
        padding-top: $space-3;
        padding-bottom: $space-3;
    }
    &.ib {
        display: inline-block;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
    }

    &.image {
        width: 47%;
        height: 180px;
        margin-left: $space-1;
        margin-right: $space-1;
        padding: $space-2 $space-2;

        & .image-container {
            display: block;
            height: 100%;
            border-radius: 8px;
            background-size: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    &.b {
        display: block;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
    }
    &.purple {
        background: $purple;

        &:hover {
            background: $yellow;
        }
    }
    &.offwhite {
        background: $off-white;
        color: $black;

        &:hover,
        &.selected {
            background: $purple;
            color: $white;
        }
    }
}
.buttons {
    &.center {
        text-align: center;
        
        .button + .button {
            margin-left: $space-2;
        }
    }
}
