.part-big-image {
    margin: 0 0 40px;

    img {
        max-width: 100%;
    }

    h3 {
        font-size: 21px;
        line-height: 21px;
        color: $brand-primary;
        margin: 0 0 5px;
        padding: 0 0 5px;
        border-bottom: 1px dotted $brand-primary;
    }
    p {
        font-weight: 300;
    }
}
