$popout-width: 320px;
$close-size: 16px;
.popout {
    position: fixed;
    z-index: 100;
    top: $header-height * 2;
    width: $popout-width;
    transition: all 500ms ease;
    box-shadow: $box-shadow;
    background: $dark-gray;
    padding: 25px;
    color: #fff;

    .popout-close {
        position: absolute;
        height: $close-size;
        line-height: $close-size;
        font-size: $close-size;
        width: $close-size;
        text-align: center;
        top: 2px;
    }

    &.right {
        right: -1 * ($popout_width + 10);
        left: auto;
        border-radius: $border-radius 0 0 $border-radius;

        .popout-close {
            left: 2px;
        }

        &.active {
            right: 0;
        }
    }
    &.left {
        right: auto;
        left: -1 * ($popout_width + 10);
        border-radius: 0 $border-radius $border-radius 0;

        .popout-close {
            right: 2px;
        }

        &.active {
            left: 0;
        }
    }
    &.dark {
        background: $secondary-color;
    }
    &.yellow {
        background: $yellow;
        color: $blackish;
    }
    &.mobile-only {
        position: static;
        padding: 0;
        background: transparent;
        color: $blackish;
        box-shadow: none;
        width: auto;

        .popout-close {
            display: none;
        }
    }
}
@media screen and (max-width: 767px) {
    .popout {
        top: 15px;
        bottom: 15px;
        overflow-y: scroll;

        h3 {
            color: $white;
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 420px) {
    .popout {
        width: 290px;
    }
}
