%heading {
    font-family: $display-font;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
}
@for $index from 1 through 4 {
    h#{$index} {
        @extend %heading;
        font-size: $display-font-size - (5px * $index);
    }
}
p {
    font-size: $body-font-size;
    margin-bottom: $body-margin;
}

