#quiz {
    .question h3 {
        margin-top: $space-4;
        margin-bottom: $space-4;
    }
}
@include media-breakpoint-down(md) {
    #quiz {
        aside {
            h2 {
                display: block;
            }
            margin-top: $space-8;
        }
    }
}
