#quiz {
    h2 {
        display: none;
    }
}
@include media-breakpoint-down(md) {
    #quiz {
        aside {
            h2 {
                display: block;
            }
            margin-top: $space-8;
        }
    }
}
