/* =============================================================================
   Header
   ========================================================================== */
.header {
	position: relative;
	z-index: 100;
}
.brand {
    width: 200px;
    float: left;
}

